In [1]:
import pandas as pd
import numpy as np

def summary(x): #save your file to a variable.  If your file is in a different folder than your script, you need to save the
    #entier path to the file.  x = varible for file name or path and file name
    gas = pd.read_csv(x) #reading contents of file into a data frame
    gas.rename(columns={"block_number": "Block_num", "gas_price": "Gas_price", "receipt_gas_used" : "Gas_amt",\
                        "block_timestamp" : "Day_Time"},inplace = True) #changing
                                                                                                        #col names
    gas['Gas_price'] = gas['Gas_price']/1000000000 #putting gas in easier to read form
    gas1 = gas.groupby(['Block_num', 'Day_Time']) #grouping by block number
    total_fee = gas['Gas_price']*gas['Gas_amt'] #Total transaction fee gas price times gas amount
    gas['Total_fee'] = total_fee  #adding total fee to the dataframe
    
    #creating summaries by block.
    gas_mean = gas1.Gas_price.mean()  #gas price mean by block
    gas_median = gas1.Gas_price.median() #gas price median by block
    gasmin = gas1.Gas_price.min() #gas price min by block
    gasmax = gas1.Gas_price.max() #gas price max by block
    tmin = gas1.Total_fee.min() #gas total fee min by block
    tmax = gas1.Total_fee.max() #gas total fee max by block
    tmed = gas1.Total_fee.median() #gas total fee median by block
    tmean = gas1.Total_fee.mean() #gas total fee mean by block
    tsum = gas1.Total_fee.sum() # total transactions fees by block
    blockcount = gas1.Block_num.count() #number of transactions in the block
    gassummary = pd.DataFrame({'Gas_mean' : gas_mean, 'Gas_median': gas_median, 'Gas_min': gasmin, 'Gas_max': gasmax,
                          'Transfee_min': tmin, 'Transfee_max': tmax, 'Transfee_median': tmed, 'Transfee_mean': tmean,
                          'Transfee_Total': tsum, 'Count_perBlock': blockcount})
    gassummary.reset_index(inplace = True)
    gassummary.set_index('Block_num', inplace = True)
    return(gassummary)

In [2]:
jan = 'C:\\Users\\Sara\\Documents\Eth_python.csv'
summary_15 = summary(jan)  #example of running script

In [71]:
#summary_15[(summary_15['Day_Time'].str.contains('2021-01-01'))]  example of searching by day

,Day_Time,Gas_mean,Gas_median,Gas_min,Gas_max,Transfee_min,Transfee_max,Transfee_median,Transfee_mean,Transfee_Total,Count_perBlock
Block_num,,,,,,,,,,,
11565019,2021-01-01 00:00:00 UTC,52.009455,50.000000,3.800000e+01,300.000000,7.277000e+05,6.029340e+07,2.582925e+06,5.291047e+06,6.878361e+08,130
11565020,2021-01-01 00:00:01 UTC,143.364822,55.000000,3.800000e+01,4614.300000,7.980000e+05,1.309118e+09,2.400850e+06,2.261913e+07,2.555961e+09,113
11565021,2021-01-01 00:00:08 UTC,69.378835,57.000000,5.060000e+01,1000.000000,1.062600e+06,3.502890e+08,2.497984e+06,6.204314e+06,1.110572e+09,179
11565022,2021-01-01 00:00:22 UTC,53.684122,47.000000,3.800000e+01,181.687097,7.980000e+05,5.065400e+07,2.252650e+06,4.527745e+06,6.384120e+08,141
11565023,2021-01-01 00:00:25 UTC,64.487667,57.000000,4.500000e+01,528.000000,9.450000e+05,2.729175e+07,2.520000e+06,4.466505e+06,7.459064e+08,167
...,...,...,...,...,...,...,...,...,...,...,...
11571559,2021-01-01 23:58:49 UTC,51.688011,42.350000,4.200000e+01,166.551005,8.820000e+05,4.262309e+07,2.585062e+06,4.347639e+06,6.130171e+08,141
11571560,2021-01-01 23:58:54 UTC,94.299016,63.000000,5.720000e+01,2237.715503,1.201200e+06,2.182735e+08,1.679733e+06,6.244412e+06,1.180194e+09,189
11571561,2021-01-01 23:59:26 UTC,66.944415,55.013202,3.010000e+01,1450.000000,6.321000e+05,1.718598e+08,1.218000e+06,4.301175e+06,1.062390e+09,247
11571562,2021-01-01 23:59:37 UTC,77.972770,61.497152,5.000000e+01,1676.651932,1.050000e+06,4.872351e+07,2.259674e+06,5.890315e+06,8.835473e+08,150
11571563,2021-01-01 23:59:44 UTC,86.327884,63.000000,2.000000e-09,2463.724769,7.472800e-05,2.141987e+08,2.108816e+06,4.748916e+06,1.130242e+09,238

In [3]:
jan2 = 'C:\\Users\\Sara\\Documents\Jan16_31.csv'
summary_31 = summary(jan2)

In [4]:
january_summary = summary_15.append(summary_31)

In [5]:
jant1 = pd.read_csv('C:\\Users\\Sara\\Documents\Jan01_15.csv')

In [6]:
jant2 = pd.read_csv('C:\\Users\\Sara\\Documents\Jan16_31.csv')

In [29]:
january = jant1.append(jant2)

In [27]:
def transformation(x):
    gas = x
    gas.rename(columns={"block_number": "Block_num", "gas_price": "Gas_price", "receipt_gas_used" : "Gas_amt",\
                        "block_timestamp" : "Day_Time"}, inplace = True) #changing
                                                                                                       
    #gas['Gas_price'] = gas['Gas_price']/1000000000 #putting gas in easier to read form
    #total_fee = gas['Gas_price']*gas['Gas_amt'] #Total transaction fee gas price times gas amount
    #gas['Total_fee'] = total_fee  #adding total fee to the dataframe
    return(gas)

In [31]:
jt = transformation(january)

In [91]:
#jt.reset_index(inplace = True)
jt.set_index(['Block_num'], inplace = True)

In [95]:
zerogas = jt[(jt['Gas_price'] == 0)]

In [111]:
ind = zero.count()

In [115]:
indexnum = ind[(ind['Gas_price'] > 1)].index

In [122]:
indexnum

Int64Index([11565668, 11567138, 11572167, 11573756, 11573855, 11578707,
            11580171, 11585299, 11585362, 11586692,
            ...
            11760968, 11761108, 11762247, 11762465, 11762883, 11763926,
            11764577, 11766155, 11766281, 11766597],
           dtype='int64', name='Block_num', length=327)

In [128]:
ind[(ind['Gas_price'] > 20)]

           Gas_price
Block_num
11565668          53
11567138          24
11572167          55
11573756          25
11578707          56
...              ...
11749513          40
11754524          61
11755268          25
11760968          64
11762465          25

[160 rows x 1 columns]

In [130]:
f"The median max price is {january_summary.Gas_max.median()}, the max max price is {january_summary.Gas_max.max()}\
 the minimum max price is {january_summary.Gas_max.min()}"

'The median max price is 250.0, the max max price is 852470.32095238 the minimum max price is 0.001692193'

In [133]:
import matplotlib.pyplot as plt

In [149]:
jt[(jt.Gas_price >= 250)]['Gas_price']

Block_num
11565019     300.000000
11565020    1282.500000
11565020    1124.000000
11565020    1686.000000
11565020     256.500000
               ...
11766936     264.209530
11766936    1449.329033
11766936     400.000000
11766936     725.710768
11766938     271.687518
Name: Gas_price, Length: 1956009, dtype: float64

In [163]:
january_summary[(january_summary['Gas_median'] >=250)].count()

Day_Time           6908
Gas_mean           6908
Gas_median         6908
Gas_min            6908
Gas_max            6908
Transfee_min       6908
Transfee_max       6908
Transfee_median    6908
Transfee_mean      6908
Transfee_Total     6908
Count_perBlock     6908
dtype: int64

In [170]:
jt[(jt['Gas_price'] >= 250)]

                          Day_Time  Gas_amt    Gas_price
Block_num
11565019   2021-01-01 00:00:00 UTC   200978   300.000000
11565020   2021-01-01 00:00:01 UTC    21055  1282.500000
11565020   2021-01-01 00:00:01 UTC   259156  1124.000000
11565020   2021-01-01 00:00:01 UTC    26618  1686.000000
11565020   2021-01-01 00:00:01 UTC    21055   256.500000
...                            ...      ...          ...
11766936   2021-01-31 23:59:20 UTC    21000   264.209530
11766936   2021-01-31 23:59:20 UTC    21000  1449.329033
11766936   2021-01-31 23:59:20 UTC   128260   400.000000
11766936   2021-01-31 23:59:20 UTC    74926   725.710768
11766938   2021-01-31 23:59:55 UTC    42456   271.687518

[1956009 rows x 3 columns]

In [171]:
1956009/len(jt.Gas_price)

0.05217309405909365